.header{
    background-color: bisque;
}
.top-header{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    
}
.bottom-header{
    display: flex;
    flex-flow: row;
    
}

.left-header, .right-header {
    display: flex;
    flex-flow: row;
}
.top-header p {
    padding: 3px;
    margin: 7px 15px;
}

.header-search{
    flex: 2;
}